<nav class="navbar navbar-exapnd-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/"> <i class="bi bi-bank me-2"></i>E-BANK </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        @if (authService.isAdmin()) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/customers" routerLinkActive="active">
              <i class="bi bi-people me-1"></i>Customers
            </a>
          </li>
        }

        @if (authService.isLoggedIn()) {
          <li class="nav-iem">
            <a class="nav-link" routerLink="/accounts" routerLinkActive="active">
              <i class="bi bi-credit-card me-1"></i>Accounts
            </a>
          </li>
        }
      </ul>

      <ul class="navbar-nav ms-auo">
        @if (authService.isLoggedIn()) {
          <li class="nav-item drpodown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle me-1"></i>{{ authService.currentUser()?.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <span class="dropdown-item-next text-muted small">
                  {{ authService.currentUser()?.roles }}
                </span>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <button class="dropdown-item text-danger" (click)="logout()">
                  <i class="bi bi-box-arrow-right me-1"></i>Logout
                </button>
              </li>
            </ul>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="bi bi-box-arrow-in-right me-1"></i>login
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
